{% extends 'base.html' %}
{% block content %}
{% for message in messages %}
    {{message}}
{% endfor%}
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" id="country" name="country" required="">
                <option value="">Fetch Another Country</option>
                {% for i, k in covidKey.items %}
                    {% if i == 'Countries' %}
                        {% for newItem in k %}
                            {% for item, key in newItem.items %}
                                {% if item == 'Country' %}
                                    <option value="{{key}}">{{key}}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-info btn-block">Fetch</button>
        </div>
    </div>
</form>
<div class="row">
    {% for c in country_data reversed %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="display-4">{{ c.Country }} ({{c.CountryCode }})</h1>
            </div>
            <div class="card-body">
                <div class="lead"><strong>
                    <p class="text-warning">New Confirmed: {{ c.NewConfirmed }}</p>
                    <p class="text-warning">Total Confirmed: {{ c.TotalConfirmed }}</p>
                    <p class="text-danger">New Deaths: {{ c.NewDeaths }}</p>
                    <p class="text-danger">Total Deaths: {{ c.TotalDeaths }}</p>
                    <p class="text-success">New Recovered: {{ c.NewRecovered }}</p>
                    <p class="text-success">Total Recovered: {{ c.TotalRecovered }}</p>
                    <p class="text-info">Date Updated: {{ c.Date }}</p></strong>
                </div>
            </div>
        </div><br>
    </div>
    {% endfor %}
</div>
{% endblock %}