{% extends 'base.html' %}
{% block content %}

    <form method="POST">
    {% csrf_token %}
        {{ form.name }}
        <button type="submit">submit</button>
    </form>
{% for c in country_data reversed %}
    <div class="">
        <h1 class="">Coronavirus {{ c.Country }} ({{c.CountryCode }}) Total Cases:</h1>
        </div>
    <div>
        <div>
            <p>New Confirmed: {{ c.NewConfirmed }}</p>
            <p>Total Confirmed: {{ c.TotalConfirmed }}</p>
            <p>New Deaths: {{ c.NewDeaths }}</p>
            <p>Total Deaths: {{ c.TotalDeaths }}</p>
            <p>New Recovered: {{ c.NewRecovered }}</p>
            <p>Total Recovered: {{ c.TotalRecovered }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}